<div id="<%= dom_id patient %>">
  <p>
    <strong>Pesel:</strong>
    <%= patient.pesel %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= patient.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Phone num:</strong>
    <%= patient.phone_num %>
  </p>

  <p>
    <strong>Born:</strong>
    <%= patient.born %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Disablity:</strong>
    <%= patient.disablity %>
  </p>

  <p>
    <strong>Mediacal offer:</strong>
    <%= patient.mediacal_offer %>
  </p>

</div>
