<div id="<%= dom_id doctor %>">
  <p>
    <strong>Pesel:</strong>
    <%= doctor.pesel %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= doctor.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>Phone num:</strong>
    <%= doctor.phone_num %>
  </p>

  <p>
    <strong>Born:</strong>
    <%= doctor.born %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= doctor.address %>
  </p>

  <p>
    <strong>Disablity:</strong>
    <%= doctor.disablity %>
  </p>

  <p>
    <strong>Mediacal specialization:</strong>
    <%= doctor.mediacal_specialization %>
  </p>

</div>
