<div id="<%= dom_id medical_interview %>">
  <p>
    <strong>Hygiene:</strong>
    <%= medical_interview.hygiene %>
  </p>

  <p>
    <strong>Treatment story:</strong>
    <%= medical_interview.treatment_story %>
  </p>

  <p>
    <strong>Interview description:</strong>
    <%= medical_interview.interview_description %>
  </p>

  <p>
    <strong>Meeting:</strong>
    <%= medical_interview.meeting_id %>
  </p>

</div>
